@using DQQ.Entities
@using DQQ.Profiles.Items.Equipments
@using DQQ.Helper
@using DQQ.Web.Pages.DQQs.Items.Components
@using DQQ.Web.Pages.DQQs.CombatProperties
@inherits ActorInventoryPage
<Layout ShowFooter="true">
	<Header>
	</Header>

	<Main>
		<div style="overflow:hidden;height: calc(100vh - 350px);">
			@if (Items != null)
			{
			
				<Table TItem="ItemEntity" IsAutoRefresh="true" AutoRefreshInterval="501" @bind-SelectedRows="SelectedItems" ShowToolbar="true" ShowRefresh="false" ShowDefaultButtons="false" IsPagination="true" OnQueryAsync="OnQueryAsync" PageItemsSource="PageItemsSource" IsMultipleSelect="true" IsFixedHeader="true" ShowTopPagination="true">
					<TableToolbarTemplate>
						<BootstrapInputGroup>
							<Button Color="Color.Success" Text="全选" OnClick="()=>SelectAll()"></Button>
							@* <Button Color="Color.Warning" Text="拾取" OnClick="()=>PickSelected()"></Button> *@
							<BootstrapInputGroupLabel DisplayText="选择稀有度" />
							<Select Items="SelectedItemHelper.GetSelectedItem<EnumRarity>()" @bind-Value="Rarity">
							</Select>
							<BootstrapInputGroupLabel DisplayText="选择物品种类" />
							<Select Items="SelectedItemHelper.GetSelectedItem<EnumItemType>()" @bind-Value="ItemType">
							</Select>
						</BootstrapInputGroup>


					</TableToolbarTemplate>
					<TableColumns>
						<TableColumn @bind-Field="@context.Name" Text="物品" Width="180">
							<Template Context="value">
								@{
									var color = Color.Light;
									switch (value.Row.Rarity)
									{
										case EnumRarity.Magic:
											color = Color.Primary;
											break;
										case EnumRarity.Rare:
											color = Color.Warning;
											break;
									}
								}
								
									<Tag Color="color">
										@value.Value
									</Tag>
								<Popover Placement="Placement.Right" Trigger="click" Content="@value.Row.ComponentString" IsHtml="true">
									<i class="fas fa-circle-info"></i>
								</Popover>


							</Template>
						</TableColumn>
						<TableColumn @bind-Field="@context.Quantity" Text="数量" Width="180" />
						<TableColumn @bind-Field="@context.Rarity" Text="稀有度" Width="180" />
						<TableColumn @bind-Field="@context.Id" Text="操作">
							<Template Context="value">
								@{
									var equip = value.Row.Profile as EquipProfile;
									if (equip != null)
									{
										var slots = EquiptableHelper.GetAvaliableSlots(equip.EquipType);

										if (slots?.Count() > 1)
										{
											foreach (var slot in slots)
											{
												string? compareString = "";

												value.Row.CompareComponentString?.TryGetValue(slot, out compareString);
												if (String.IsNullOrEmpty(compareString))
												{
													<Button Color="Color.Success" Text="@($"装备 ({slot.GetEnumString()})")" OnClick="()=>EquipItem(value.Row?.Id,slot)" />

													<DQQInfo IsButton="true">
														@(new MarkupString(value.Row.ComponentString))
													</DQQInfo>
													// <Popover Placement="Placement.Top" Content="@value.Row.ComponentString" IsHtml="true">
														
													// </Popover>
												}
												else
												{
													<Button Color="Color.Success" Text="@($"装备 ({slot.GetEnumString()})")" OnClick="()=>EquipItem(value.Row?.Id,slot)" />

													<DQQInfo IsButton="true">
														@(new MarkupString(compareString))
													</DQQInfo>
													// <Popover Placement="Placement.Top" CustomClass="compare_popup" Content="@compareString" IsHtml="true">
													// </Popover>
												}
												
											}
										}
										else
										{
											<Button Color="Color.Success" Text="装备" OnClick="()=>EquipItem(value.Row?.Id,null)" />

											<DQQInfo IsButton="true">
												@(new MarkupString(value.Row.CompareComponentStringAll))
											</DQQInfo>
											// <Popover Placement="Placement.Top" CustomClass="compare_popup" Content="@(value.Row.CompareComponentStringAll)" IsHtml="true">
												
											// </Popover>
										}
									}
								}

								<span></span>

							</Template>
						</TableColumn>
					</TableColumns>
				</Table>
			}

		</div>
	</Main>
	<Footer>
		<div>物品数量: xxx 物品上限: yyy 剩余: (yyy-xxx)</div>
	</Footer>
</Layout>
