@inherits SelectedCharacterPage
@page "/Character"
@using DQQ.Enums
<Card>
  <HeaderTemplate>
    当前角色
  </HeaderTemplate>
  <BodyTemplate>
    <h5><Button Color="Color.Primary" Text="更换角色" OnClick="ParentRefresh" /></h5>
    @if (character != null)
    {
      <div>
        角色名 @character.DisplayName
      </div>
      <div>
        最大生命 @character.MaximunLife
      </div>
      <div>
        主手攻击力 @character.MainHand
      </div>
      <div>
        副手攻击力 @character.OffHand
      </div>
      <div>
        目标优先级 @character.TargetPriority
      </div>
      <div>
        <Button Color="Color.Primary" Text="更换优先级" OnClick="ChangePriority" />
      </div>
      <div>
        <div>
          技能
        </div>
        @if (character.SkillMap != null)
        {
          for (var i = 0; i < 6; i++)
          {
            var i2 = i;
            var s2 = character.SkillMap.ContainsKey(i2) ? (EnumSkill?)character.SkillMap[i2].SkillNumber : null;
            <div>
              @i2 @(character.SkillMap.ContainsKey(i2) ? character.SkillMap[i2].SkillName : "无")
              <Button Color="Color.Primary" Text="选择技能" OnClick="async ()=> await SelectSkill(i2,s2)" />
            </div>
          }
        }
      </div>
    }
  </BodyTemplate>
</Card>


