<div class="@ColumnNumber">
  <Card class="@(IsMob?"mob_box":"")" Color="@ThisColor">
    <HeaderTemplate>
      @if (IsMob)
      {
        <Alert class="mob_title" Color="ThisColor">@Actor.DisplayName</Alert>
      }
      else
      {
        @Actor.DisplayName
      }

    </HeaderTemplate>
    <BodyTemplate>
      <Progress IsAnimated="true" IsStriped="true" Value="Actor.PercentageHP" Color="Color.Danger" IsShowValue="true" />
    </BodyTemplate>
    <FooterTemplate>
      <div class="row g-3">
        @if (Actor?.Durations?.Any() == true)
        {
          foreach (var d in Actor.Durations)
          {

            var icon = d.GetDurationIcon();
            <div class="col-auto">
              <div class="badge-widget">
                <Tag Color="icon.IconColor">
                  <i class="@icon.IconName" aria-hidden="true"></i>
                </Tag>
                
                <Badge Color="icon.IconColor"><span style="padding: 0 2px;">@d.RemainSeconds</span></Badge>
              </div>
            </div>
          }
        }
      </div>

    </FooterTemplate>
  </Card>
</div>
