@using DQQ.Web.Pages.DQQs.Combats.Parts
@inherits ActorBoxPage
<div class="@ColumnNumber">
	<div class="@ShackClass">
		<Card class="@CardClass" Color="@ThisColor">
			<HeaderTemplate>
				@if (IsMob)
				{
					<Alert class="mob_title" Color="ThisColor">@Actor.DisplayName</Alert> 
				}
				else
				{
					@Actor.DisplayName
				}
			</HeaderTemplate>
			<BodyTemplate>
				<div>
					<div class="@SlashCss"></div>
					<div style="display: flex;align-items: center;justify-content: center;">
						<div style="width: 0px;margin-right: 47px;position: relative;">
							
							@foreach (var f in DamageNumbers[0])
							{
								<DamageNumber Damage="f" OnRemove="RemoveComponent" />
							}
							@foreach (var f in DamageNumbers[1])
							{
								<DamageNumber Damage="f" OnRemove="RemoveComponent" />
							}
							@foreach (var f in DamageNumbers[2])
							{
								<DamageNumber Damage="f" OnRemove="RemoveComponent" />
							}
							@foreach (var f in DamageNumbers[3])
							{
								<DamageNumber Damage="f" OnRemove="RemoveComponent" />
							}
							@foreach (var f in DamageNumbers[4])
							{
								<DamageNumber Damage="f" OnRemove="RemoveComponent" />
							}
							
						</div>
					</div>
					<Progress IsAnimated="true" IsStriped="true" Value="Actor.PercentageHP" Color="Color.Danger" IsShowValue="true">

					</Progress>

				</div>

			</BodyTemplate>
			<FooterTemplate>

				<div class="g-3" style="">
					@if (Actor?.Durations?.Any() == true)
					{
						foreach (var d in Actor.Durations)
						{

							var icon = d.GetDurationIcon();
						@* 	<div class="col-auto">
								
							</div> *@
							<div class="badge-widget">
								<Tag Color="icon.IconColor">
									<i class="@icon.IconName" aria-hidden="true"></i>
								</Tag>

								<Badge Color="icon.IconColor"><span style="padding: 0 2px;">@d.RemainSeconds</span></Badge>
							</div>
						}
					}
					else
					{
						<span>无持续效果</span>
					}
				</div>

			</FooterTemplate>
		</Card>
	</div>
	
</div>
