@inherits CombatLogPage
@if (CombatLog != null)
{
  <table class="table">
    <thead>
      <tr>
        <th>时间(波次)</th>
        <th>攻击方</th>
        <th>技能</th>
        <th>目标</th>
        <th>承受伤害</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var b in CombatLog.GroupBy(b => b.WaveNumber).Where(b => b.Key >= 0).OrderBy(b => b.Key))
      {
        foreach (var log in b.OrderBy(b => b.ActionSecond))
        {
          if (log.WaveOrPlayerChange)
          {
            <tr>
              <td>@Math.Round(log.ActionSecond ?? 0, 2) (@(b.Key + 1))</td>
              <td colspan="2">友方: @String.Join(",", log.Players?.Select(b => b.DisplayName) ?? Enumerable.Empty<string>())</td>
              <td colspan="2">敌方: @String.Join(",", log.Enemies?.Select(b => b.DisplayName) ?? Enumerable.Empty<string>())</td>

            </tr>
          }
          else
          {
            <tr>
              <td>@Math.Round(log.ActionSecond ?? 0, 2) (@(b.Key + 1))</td>
              <td>@log.From?.DisplayName (@log.From?.Currentife/@log.From?.MaxLife)</td>
              <td>@log.Skill?.SkillName</td>
              <td>@log.Target?.DisplayName (@log.Target?.Currentife/@log.Target?.MaxLife)</td>
              <td>@log.Damage?.DamagePoint @(log.Damage?.IsKilled == true ? "击杀" : "")</td>
            </tr>
          }

        }

      }
    </tbody>
  </table>

}
