@using DQQ.Strategies.SkillStrategies
@inherits StrategySelectPage
<Card>
	<HeaderTemplate>
		技能策略 <Button Color="Color.Primary" Text="添加策略" OnClick="Add" />
	</HeaderTemplate>
	<BodyTemplate>
		@if (SelectedSkillDTO != null && SelectedSkillDTO.SkillStrategies != null)
		{
			<div style="overflow:hidden;height: calc(100vh - 490px);">
				<Table TableSize="TableSize.Compact" RenderModeResponsiveWidth="BreakPoint.Large" TItem="SkillStrategy" Items="SelectedSkillDTO.SkillStrategies?.OrderBy(b=>b.Priority)" ScrollingDialogContent="true">

					<TableColumns>
						<TableColumn @bind-Field="@context.Id" Text="优先级">
							<Template Context="value">
								<InputNumber style="width: 40px;" @bind-Value="value.Row.Priority" />
							</Template>
						</TableColumn>
						<TableColumn @bind-Field="@context.Condition" Text="使用策略">
							<Template Context="value">
								<Select Items="SelectedItemHelper.GetSelectedItem<EnumStrategyCondition>()" @bind-Value="value.Row.Condition">
								</Select>
							</Template>
						</TableColumn>

						<TableColumn @bind-Field="@context.Id" Text="判断">
							<Template Context="value">
								@if (value.Row.Condition == EnumStrategyCondition.Target)
								{
									<Select Items="SelectedItemHelper.GetSelectedItem<EnumTarget>()" @bind-Value="value.Row.CheckTarget">
									</Select>
								}
								@if (value.Row.Condition == EnumStrategyCondition.Players || value.Row.Condition == EnumStrategyCondition.Enemies)
								{
									<Select Items="SelectedItemHelper.GetSelectedItem<EnumStrategyParty>()" @bind-Value="value.Row.PartyStrategy">
									</Select>
								}
								@if (value.Row.Condition == EnumStrategyCondition.Wave || value.Row.Condition == EnumStrategyCondition.Combat)
								{
									<Select Items="SelectedItemHelper.GetSelectedItem<EnumStrategyWave>()" @bind-Value="value.Row.WaveStrategy">
									</Select>
								}
							</Template>
						</TableColumn>
						<TableColumn @bind-Field="@context.Id" Text="目标权重">
							<Template Context="value">
								@if (value.Row.Condition == EnumStrategyCondition.Target)
								{
									<Select Items="SelectedItemHelper.GetSelectedItem<EnumTargetPriority>()" @bind-Value="value.Row.SkillTarget">
									</Select>
								}
								@if (value.Row.Condition == EnumStrategyCondition.Players || value.Row.Condition == EnumStrategyCondition.Enemies)
								{
									<Select Items="SelectedItemHelper.GetSelectedItem<EnumTargetPriority>()" @bind-Value="value.Row.SkillTarget">
									</Select>
								}
								@if (value.Row.Condition == EnumStrategyCondition.Wave || value.Row.Condition == EnumStrategyCondition.Combat)
								{
									<Select Items="SelectedItemHelper.GetSelectedItem<EnumTargetPriority>()" @bind-Value="value.Row.SkillTarget">
									</Select>
								}
							</Template>
						</TableColumn>
						<TableColumn @bind-Field="@context.Id" Text="判断属性">
							<Template Context="value">
								@if (value.Row.Condition == EnumStrategyCondition.Target)
								{
									<Select Items="SelectedItemHelper.GetSelectedItem<EnumPropertyCompare>()" @bind-Value="value.Row.Property">
									</Select>
								}
								@if (value.Row.Condition == EnumStrategyCondition.Players || value.Row.Condition == EnumStrategyCondition.Enemies)
								{
									@if (value.Row.PartyStrategy == EnumStrategyParty.Contain)
									{
										<Select Items="SelectedItemHelper.GetSelectedItem<EnumPropertyCompare>()" @bind-Value="value.Row.Property">
										</Select>
									}
								}
								@if (value.Row.Condition == EnumStrategyCondition.Wave || value.Row.Condition == EnumStrategyCondition.Combat)
								{

								}
							</Template>
						</TableColumn>
						<TableColumn @bind-Field="@context.Id" Text="比较">
							<Template Context="value">
								@if (value.Row.Condition == EnumStrategyCondition.Target)
								{
									<Select Items="SelectedItemHelper.GetSelectedItem<EnumCompare>()" @bind-Value="value.Row.Compare">
									</Select>
								}
								@if (value.Row.Condition == EnumStrategyCondition.Players || value.Row.Condition == EnumStrategyCondition.Enemies)
								{
									<Select Items="SelectedItemHelper.GetSelectedItem<EnumCompare>()" @bind-Value="value.Row.Compare">
									</Select>
								}
								@if (value.Row.Condition == EnumStrategyCondition.Wave || value.Row.Condition == EnumStrategyCondition.Combat)
								{

								}
							</Template>
						</TableColumn>
						<TableColumn @bind-Field="@context.Id" Text="值">
							<Template Context="value">
								@if (value.Row.Condition == EnumStrategyCondition.Target)
								{
									<InputNumber style="width: 40px;" @bind-Value="value.Row.Value" />
								}
								@if (value.Row.Condition == EnumStrategyCondition.Players || value.Row.Condition == EnumStrategyCondition.Enemies)
								{
									<InputNumber style="width: 40px;" @bind-Value="value.Row.Value" />
								}
								@if (value.Row.Condition == EnumStrategyCondition.Wave || value.Row.Condition == EnumStrategyCondition.Combat)
								{
									@if (value.Row.WaveStrategy == EnumStrategyWave.Period)
									{
										<InputNumber style="width: 40px;" @bind-Value="value.Row.Value" />
									}
								}
							</Template>
						</TableColumn>
						<TableColumn @bind-Field="@context.Id" Text="操作">
							<Template Context="value">
								<Button Color="Color.Danger" Text="-" OnClick="()=>Remove(value.Row)" />
							</Template>
						</TableColumn>
					</TableColumns>
				</Table>
			</div>

		}
	</BodyTemplate>
	<FooterTemplate>
		汇总信息:
	</FooterTemplate>
</Card>

