@using DQQ.Profiles.Skills
@using DQQ.Web.Pages.DQQs.Builds.Components
@inherits SkillPickerPage
<style>
	.skill_index_selected {
		border: 1px solid red;
		
	}

	.position_relative{
		position: relative;
	}
	.skill_select_badge {
		position: absolute;
		right: -6%;
		top: -17%;
	}

	.unpicked_skill {
		background-color: lightgray;
		cursor: not-allowed;
	}
</style>

@if (Avaliable)
{
	<DQQResponsive OnBreakPointChanged="BreakPointChanged" />

	<div class="row g-3">
		@if (!IsSmall)
		{
			<div class="col-6">
				<SkillCompare SelectedIndex="SelectedIndex" PickedSkill="PickedSkill" CurrentSkill="ClickedSkillProfile" ChangeSkill="()=>SaveChange()" />
			</div>
		}
		else
		{
			<Drawer Width="75%" Placement="Placement.Left" @bind-IsOpen="@IsOpen" IsBackdrop="true">
				<SkillCompare SelectedIndex="SelectedIndex" PickedSkill="PickedSkill" CurrentSkill="ClickedSkillProfile" ChangeSkill="()=>SaveChange()" />
			</Drawer>
		}
		
		<div class="col-12 col-sm-12 col-md-6">
			<div class="row g-3">
				<div class="col-12">
			<Card>
				<HeaderTemplate>
							技能槽
							<DQQInfo>
								每个技能栏下会有多个技能槽. 第一个技能槽为主动技能. 当满足条件后会自动释放. 后续技能槽为辅助技能. 无法直接释放. 增强或改变主动技能的效果.
							</DQQInfo>
				</HeaderTemplate>
				<BodyTemplate>
							<div class="row g-3">


								@if (SelectedDTO?.SupportSkills?.Any() == true)
								{
									@for (var i = 0; i < SelectedDTO.SupportSkills.Count() + 1; i++)
									{
										if (GetSkillSlotAvaliable(i) != true)
										{
											continue;
										}
										var i2 = i;
										var skilNumber = GetClickedSkill(i2);
										var skill = DQQPool.TryGet<SkillProfile, EnumSkillNumber>(skilNumber ?? EnumSkillNumber.NotSpecified);
										<div class="col-6 col-sm-6 col-md-6 col-lg-4">
											<Card @onclick="()=>SkillClick(i2)" class="@CardClass(i2)">
												<BodyTemplate>
													@(skill?.Name ?? "空")
													<Badge Color="@(i2==0?Color.Primary:Color.Warning)" class="skill_select_badge">
														@if (i2 == 0)
														{
															<span>主动</span>
														}
														else
														{
															<span>辅助</span>
														}

													</Badge>
												</BodyTemplate>
											</Card>
										</div>

									}
								}
							</div>
				</BodyTemplate>
					
			</Card>
				
				</div>
				<div class="col-12">
					<Card>
						<HeaderTemplate>
							技能池 
							<DQQInfo>
								所有可用的技能. 选择技能栏位后可用选择一个技能装备.
							</DQQInfo>
						</HeaderTemplate>
						<BodyTemplate>
							<BootstrapInputGroup>
								@foreach (var t in BindingTypeFilters)
								{
									<Toggle Width="80" @bind-Value="t.Selected" OnText="@t.Value.GetEnumString().Substring(0,2)" OffText="@t.Value.GetEnumString().Substring(0,2)" Color="t.Value.GetColor()" />
								}
							</BootstrapInputGroup>
						</BodyTemplate>
					</Card>
					<Card>
						<BodyTemplate>
							<div class="row g-3">
								@foreach(var skill in AvaliableSkills)
								{
									<div class="col-6 col-sm-6 col-md-6 col-lg-4">
										<Card class="@PickedSkillClass(skill)" @onclick="()=> SkillPicked(skill)">
											<BodyTemplate>
												@skill.Name
											</BodyTemplate>
										</Card>
									</div>
								}
							</div>
						</BodyTemplate>
					</Card>
				</div>
			</div>
		</div>
		
	</div>
}
